<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello from public page<br>
Register form
<form method="post" th:action="@{/register}">
    <input type="text" name="username"><br>
    <input type="password" name="password"><br>
    <input type="submit" th:value="Add">
</form>
<hr>
Login form
<form method="post" th:action="@{/login}">
    <input type="text" name="login"><br>
    <input type="password" name="cred"><br>
    <input type="submit" th:value="Login">
</form>
<form method="post" th:action="@{/logout}">
    <input type="submit" th:value="Logout">
</form>
</body>
</html>