<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
<form th:action="@{/save}" method="post">
    <input type="text" name="name" placeholder="name of movie"/><br>
    <input type="number" min="1950" max="2023" step="1" name="yearRelease" placeholder="release" /><br>
    <input type="number" min="1.0" max="10.0" name="rating" step="0.1"placeholder="rating movie"><br>


    <div th:each="genre: ${genres}">
        <input th:type="radio" th:text="${genre.name()}"  th:value="${genre.name()}" th:name="genre"><br>
    </div>
    <!--<c:forEach items="${genres}" var="genre">
        <input type="radio" name="genre" value="${genre.name()}">${genre.name()}<br>
    </c:forEach>-->

    <input type="submit" value="Save"><br>
</form>
<div>
    <ul>
        <li th:each="movie: ${movies}">Name - [[${movie.name}]]; Genre - [[${movie.genre}]]; Release - [[${movie.yearRelease}]]; Rating - [[${movie.rating}]]</li>
    </ul>
    <form th:action="@{/update/{id}(id=${movie.getId()})}" method="post" th:each="movie: ${movies}">
        Name - [[${movie.name}]]; Genre - [[${movie.genre}]]; Release - [[${movie.yearRelease}]]; Rating - [[${movie.rating}]]<br>
        <input type="number" th:value="${movie.getRating()}" min="1.0" max="10.0" name="rating" step="0.1">
        <input type="submit" value="Update">
    </form>
</div>



<!--<ul>
    <c:forEach items="${movies}" var="movie">
        <li>Name: ${movie.name} Genre: ${movie.genre} Release: ${movie.yearRelease} Rating: ${movie.rating}</li>
    </c:forEach>
</ul>-->


</body>
</html>